target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/com/example/colorquantization/pics
./Images

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Images/508286.jpg
/Images/744722.png
/Images/aaa.png
/Images/conquer.jpg
/Images/download.jpg
/Images/enrico-albanese-robot-boy-compositing-05-behance.jpg
/Images/hello.txt
/Images/helloworld.jpg
/Images/IMG_20200122_015610.jpg
/Images/kratos.jpg
/Images/newkratos.jpg
/Images/program.png
/Images/purpel.png
/Images/robotboy.png
/Images/scorpion.jpg
/Images/tudor-baciu-vc3iVL_znJ8-unsplash.jpg
/Images/uchiha-sasuke-naruto-ix.jpg
/Images/Wallpaper 4k God Of War 4 4k Wallpaper.jpg
/Images/wallpaperflare.com_wallpaper.jpg
/Images/wallpaperflare.jpg
/Images/wp5523631-minimalist-minecraft-wallpapers.png
/Images/wp9192896-naruto-abstract-wallpapers.jpg
